<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    <meta charset="{{ .Site.Params.charset }}">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="keywords" content="{{ range .Site.Params.keywords  }}
        {{ . }}
        {{ end }}">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!--Place this: (font-family: 'Abel', sans-serif;) in the css file-->
    <link href='https://fonts.googleapis.com/css?family=Abel'
        rel='stylesheet' type='text/css'>

    <!--Place this: (font-family: 'Source Sans Pro', sans-serif;)
        in the css file-->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro'
        rel='stylesheet' type='text/css'>
</head>

<body>
