<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Bryant Property Management, LLC.">
    <meta name="keywords" content="Rental,Property,Apartment,Townhome">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script> <!--USE BOOTSTRAP-->
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'> <!--Place this: (font-family: 'Abel', sans-serif;) in the css file-->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'> <!--Place this: (font-family: 'Source Sans Pro', sans-serif;) in the css file-->
</head>

<body>
