{{ partial "header.html" . }}
{{ partial "menu.html" . }}

<main>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 id="homeheader">Bryant Property Management, LLC.</h1>
            <!-- <h1>Bryant Property Management, LLC.</h1> -->

            <p id="hometag" class="lead">Townhome and apartment rentals in the Baltimore &
                Glen Burnie area.</p>
            <!-- <p>Townhome and apartment rentals in the Baltimore &
                Glen Burnie area.</p> -->

            <img sizes="(min-width: 1072px) 100vw, 100vw"
                srcset="/images/2708-hollins-ferry-road/front-xs.jpg 1072w,
                /images/2708-hollins-ferry-road/front-sm.jpg 2144w,
                /images/2708-hollins-ferry-road/front-md.jpg 3216w,
                /images/2708-hollins-ferry-road/front-lg.jpg 4288w"
                class="horiz-center img-responsive"
                alt="#">
        </div>
    </div>

    <div class="row">
        <div class="horiz-spacer-sm">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-2">
            <img sizes="(min-width: 300px) 40vw, 40vw"
                srcset="/images/home-icon-xs.jpg 300w,
                /images/home-icon-sm.jpg 600w,
                /images/home-icon-md.jpg 900w,
                /images/home-icon-lg.jpg 1200w"
                class="horiz-center img-responsive"
                alt="#">
        </div>

        <div class="col-md-6">
            <div class="hidden-md hidden-lg horiz-spacer-sm">
            </div>

            <p>Let us help you find your next home. Bryant
                Property Management, LLC. has properties located in the
                Baltimore and Glen Burnie area. With a range of choices from
                single family homes to town homes we want to find the perfect
                fit for you. Visit our <a href="#">Properties</a> page to see
                specifications of available homes. Contact us for pictures via
                email.</p>
        </div>

        <div class="row-md-2">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 horiz-spacer-xs">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="gradient-hr">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 horiz-spacer-xs">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-6">
            <p>Visit our <a href="#">FAQ</a> page to find forms, information on
                assistance programs, and our frequently asked questions.
        </div>

        <div class="hidden-md hidden-lg horiz-spacer-sm">
        </div>

        <div class="col-md-2">
            <img sizes="(min-width: 211px) 40vw, 40vw"
                srcset="/images/fheo-logo-xs.jpg 211w,
                /images/fheo-logo-sm.jpg 421w,
                /images/fheo-logo-md.jpg 632w,
                /images/fheo-logo-lg.jpg 842w"
                class="horiz-center img-responsive"
                alt="#">
        </div>


        <div class="col-md-2">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 horiz-spacer-xs">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="gradient-hr">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 horiz-spacer-xs">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-2">
            <img sizes="(min-width: 300px) 40vw, 40vw"
                srcset="/images/mail-icon-xs.jpg 300w,
                /images/mail-icon-sm.jpg 600w,
                /images/mail-icon-md.jpg 900w,
                /images/mail-icon-lg.jpg 1200w"
                class="horiz-center img-responsive"
                alt="#">
        </div>

        <div class="hidden-md hidden-lg horiz-spacer-sm">
        </div>

        <div class="col-md-6">
            <p>Have questions about a property or the area? Let us know! Our
                <a href="#">Contact</a> page has the information you need to
                get in touch. Want to know more about us? Check out the
                <a href="history.html">About</a> page! We are family owned and
                operated and have been in the Baltimore and Glen Burnie area
                since the beginning.</p>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>

</main>

{{ partial "footer.html" . }}
