{{ partial "header.html" . }}
{{ partial "menu.html" . }}

<main>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 id="homeheader">Bryant Property Management, LLC.</h1>
            <!-- <h1>Bryant Property Management, LLC.</h1> -->

            <p id="hometag" class="lead">Townhome and apartment rentals in the Baltimore &
                Glen Burnie area.</p>
            <!-- <p>Townhome and apartment rentals in the Baltimore &
                Glen Burnie area.</p> -->

            <img src="/images/test/jumbobalt.jpg"
                class="img-header img-responsive"
                alt="image of the Balitmore area.">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-2">
            <img src= "/images/homepage-sec1-image.jpg" class="img-responsive"
                alt="#">
        </div>

        <div class="col-md-6">
            <p>Let us help you find your next home. Bryant
                Property Management, LLC. has properties located in the
                Baltimore and Glen Burnie area. With a range of choices from
                single family homes to town homes we want to find the perfect
                fit for you. Visit our <a href="#">Properties</a> page to see
                specifications of available homes. Contact us for pictures via
                email.</p>
        </div>

        <div class="row-md-2">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="hr">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-6">
            <p>Visit our <a href="#">FAQ</a> page to find forms, information on
                assistance programs, and our frequently asked questions.
        </div>

        <div class="col-md-2">
            <img src= "/images/HUDLogo.jpeg" class="img-responsive" alt="#">
        </div>


        <div class="col-md-2">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="hr">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-2">
            <img src= "/images/homepage-sec3-image.jpg" class="img-responsive"
                alt="#">
        </div>

        <div class="col-md-6">
            <p>Have questions about a property or the area? Let us know! Our
                <a href="#">Contact</a> page has the information you need to
                get in touch. Want to know more about us? Check out the
                <a href="history.html">About</a> page! We are family owned and
                operated and have been in the Baltimore and Glen Burnie area
                since the beginning.</p>
        </div>

        <div class="col-md-2">
        </div>
    </div>
</div>

</main>

{{ partial "footer.html" . }}
