{{ partial "header.html" . }}
{{ partial "menu.html" . }}

<main>
    <div class="container-fluid">
        {{ range .Data.Pages }}
            {{ .Render "full" }}

            <div class="row">
                <div class="col-md-12 horiz-spacer-xs">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr id="{{ .Title | urlize }}-hr"
                        class="gradient-hr">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 horiz-spacer-xs">
                </div>
            </div>
        {{ end }}
    </div>
</main>

{{ partial "footer.html" . }}
